.mainContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 64px;
}

.dataContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 600px;
}

.header {
  text-align: center;
  font-size: 32px;
  font-weight: 600;
  color: #8193b2;

}

.bio {
  text-align: center;
  color: white;
  margin-top: 16px;
}

.waveButton {
  cursor: pointer;
  margin-top: 16px;
  font-size: 14px;
  background-color: #8EC5FC;
  background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);

  padding: 8px;
  border: 0;
  border-radius: 5px;
  
}